

.item {
    position: absolute;
    border: 2px solid;
    border-color: #6e3bc2;
    color: #6e3bc2;
    font-size: 25px;
    margin: 20px;
    padding: 10px;
    background-color: #2b2436;
    width: 250px;
}
